html,
body {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(42, 42, 42);
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

header {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
}

section {
  padding: 25px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px 15px;
}

table {
  width: 100%;
}

textarea {
  width: 500px;
  height: 150px;
}
