html,
body {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(42, 42, 42);
  color: white;
  padding: 0;
  height: 100%;
  text-align: center;
}
nav div {
  width: auto;
  height: 100%;
  padding: 20px 10px 20px 10px;
  display: inline-block;
}
nav:hover div {
  padding: 25px 10px 25px 10px;
  transition: 350ms;
}
nav div a:hover {
  color: rgb(42, 42, 42);
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 350;
}
nav div a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

header {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
}
section {
  padding: 25px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px 15px;
}

table {
  width: 100%;
}

textarea {
  width: 500px;
  height: 150px;
}
.circle_cat {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border: 2px solid gray;
}
